#container {
  display: grid;
  grid-template-areas: "picture description cart"
                       "similar similar similar"
                       "review review review";
  grid-template-rows: minMax(200px, 400px) 300px 1fr;
  grid-template-columns: 3fr 2fr 250px;
  
  /* background: linear-gradient(to right, rgba(196,225,127,1) 0%, rgba(196,225,127,1) 12%, rgba(247,253,202,1) 12%, rgba(247,253,202,1) 25%, rgba(250,208,113,1) 25%, rgba(250,208,113,1) 39%, rgba(240,118,107,1) 39%, rgba(240,118,107,1) 52%, rgba(219,157,190,1) 52%, rgba(219,157,190,1) 65%, rgba(196,156,223,1) 65%, rgba(196,156,223,1) 78%, rgba(101,153,226,1) 78%, rgba(101,153,226,1) 89%, rgba(97,194,228,1) 89%, rgba(97,194,228,1) 100%); */
}

#picture {
  grid-area: picture;
}

#similar {
  grid-area: similar;
}

#desc {
  grid-area: description;
}

#cart {
  grid-area: cart;
}

#reviews {
  grid-area: review;
}

